# This is Git's per-user configuration file.
[user]
	name = Ben Johnson
	email = benjaminrjohnson99@gmail.com
# Please adapt and uncomment the following lines:
#	name = Ben Johnson
#	email = benjaminrjohnson99@gmail.com
[secrets]
	filters = git-secrets
